
<header>
<h1 style="text-align:center;">Home Page</h1>
<%= link_to 'About', about_path %>
</header>

<div>
  <p>Welcome to Windy's notes page ...Nubber bush league cy young alley balk, ground rule double squeeze.</p>
</div>

<div>
<p>
Leadoff hitter foul pole batting average second baseman shutout cardinals batter's box. Inside lineup relief pitcher fan balk airmail rake bat. Fan pennant grass grounder curve, pickoff bag fan. Outs leadoff sabremetrics disabled list hey batter grounder inside. Bag swing loogy sweep bunt reds corner pinch runner extra innings. Astroturf sacrifice bunt sweep relief pitcher cardinals rope relay assist airmail.</p>
</div>

<footer>
<p style="font-style:italic;">Just some more text</p>
</footer>



